/PrimeiroPrograma/target/
/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/IdiomaDoSistema/nbproject/private/
/IdiomaDoSistema/build/
/ResolucaoDoSistema/nbproject/private/
/ResolucaoDoSistema/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoSwing/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/IdiomaSwing/nbproject/private/
/IdiomaSwing/build/
/ResolucaoDoSistemaSwing/nbproject/private/
/ResolucaoDoSistemaSwing/build/
/ResolucaoDoSistemaSwing/dist/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/SuperCalculadoraSwing/nbproject/private/
/SuperCalculadoraSwing/build/
/OperadorTernário/nbproject/private/
/OperadorTernário/build/
/ComparacaoString/nbproject/private/
/ComparacaoString/build/
/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/AdivinhacaoSwing/nbproject/private/
/AdivinhacaoSwing/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaNascimento/nbproject/private/
/ProgramaNascimento/build/
/ProgramaParImparSwing/nbproject/private/
/ProgramaParImparSwing/build/
/ProgramaVotoSwing/nbproject/private/
/ProgramaVotoSwing/build/
/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/build/
/ProgramaPernas/nbproject/private/
/ProgramaPernas/build/
/ProjetoTriangulo/nbproject/private/
/ProjetoTriangulo/build/
/Contador01/nbproject/private/
/Contador01/build/
/Contador02/nbproject/private/
/Contador02/build/
/ProjetoFatorial/nbproject/private/
/ProjetoFatorial/build/
/Repeticao01/nbproject/private/
/Repeticao01/build/
/Numeros/nbproject/private/
/Numeros/build/
/ExercicioRepita/nbproject/private/
/ExercicioRepita/build/
