/PrimeiroPrograma/target/
/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/IdiomaDoSistema/nbproject/private/
/IdiomaDoSistema/build/
/ResolucaoDoSistema/nbproject/private/
/ResolucaoDoSistema/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoSwing/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/IdiomaSwing/nbproject/private/
/IdiomaSwing/build/
